<nav class="px-4 mt-8 md:px-8 md:mt-0">
  <h2>Functions</h2>
  <ul>
    {%- for doc in collections.docs -%}
    <li class="flex" {% if page.url == doc.url %} aria-current="page"{% endif %} >
      <a class="py-2 w-full" href="{{ doc.url }}">{{ doc.data.title }}</a>
    </li>
    {%- endfor -%}
  </ul>
</nav>