<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
  {% include "./head.njk" %}

  <body class="min-h-screen max-w-7xl block mx-auto relative">
    <style>
      .menu--open {
        overflow: hidden;
      }
    </style>

    {% include "../components/Header/Header.njk" %}
    <main
      class="mt-16 px-5"
    >
      {{ layoutContent | safe }}
    </main>
  </body>
</html>
