<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
  {% include "./head.njk" %}

  <body class="min-h-screen max-w-7xl flex flex-col mx-auto relative">
    <style>
      .menu--open {
        overflow: hidden;
      }
    </style>
    {% include "../components/Header/Header.njk" %}
    <main
      class="mb-20 pt-16 md:pt-20 {% if templateClass === 'tmpl-doc' %}flex flex-col{% endif %}"
    >
      {{ layoutContent | safe }}
    </main>
  </body>
</html>
