<!DOCTYPE html>
<html {% if section %} data-current="{{ section }}" {% endif %} lang="en">
  {% include "./head.njk" %}

  <body class="min-h-screen flex relative">
    <style>
      .menu--open {
        overflow: hidden;
      }
    </style>

    {% include "../components/Header/Header.njk" %}
    <main
      class="mt-16 xl:mt-24 px-5 w-full lg:w-auto max-w-7xl mx-auto flex-grow"
    >
      {{ layoutContent | safe }}
    </main>
  </body>
</html>
