--- 
layout: layouts/base.njk
templateClass: tmpl-home
---

<article class="mx-auto">
    <h1>Sardines playing with colours!</h1>
    <h2>Getting Started</h2>
    <p><code>@sardine/colour</code> supports Node 12 and above.</p>
    <p>Install the package:</p>
    <pre><code class="language-bash">npm install @sardine/colour</code></pre>
    <p>And that's it! You're ready to start using <code>@sardine/colour</code>.</p>
    <p><a href="/docs">Check the docs</a> to get started.</p>
</article>

