<style>
.menu__button .menu, .menu__button .burger {
  grid-area: 1/1;
}
</style>
<aside>
  <header class="contents">
    <div class="bg-primary ml-4 flex items-center fixed z-20 w-full">
      <button class="w-8 p-1 grid menu__button" type="button" aria-label="Toggle navigation bar">
        <svg xmlns="http://www.w3.org/2000/svg" class="menu" fill="currentColor" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 24 24"><path fill-rule="nonzero" d="M22 16.75a.75.75 0 0 0-.75-.75H2.75a.75.75 0 0 0 0 1.5h18.5c.41 0 .75-.34.75-.75zm0-5a.75.75 0 0 0-.75-.75H2.75a.75.75 0 0 0 0 1.5h18.5c.41 0 .75-.34.75-.75zm0-5a.75.75 0 0 0-.75-.75H2.75a.75.75 0 0 0 0 1.5h18.5c.41 0 .75-.34.75-.75z"/></svg>
        <svg xmlns="http://www.w3.org/2000/svg" class="burger" fill="currentColor" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" clip-rule="evenodd" viewBox="0 0 24 24"><path d="m12 10.93 5.72-5.72a.75.75 0 0 1 1.06 1.06L13.06 12l5.72 5.72a.75.75 0 0 1-.53 1.28.75.75 0 0 1-.53-.22L12 13.05l-5.72 5.72a.75.75 0 0 1-1.06-1.06l5.72-5.72-5.72-5.72a.75.75 0 0 1 1.06-1.06z"/></svg>
      </button>
      <a href="/">@sardine/colour</a>
    </div>
    <nav class="bg-primary p-4 absolute z-10 mt-8 -translate-x-96 transform-gpu transition-all">
      <h2 class="">Documentation</h2>
      <h3 class="mt-4" {% if page.url == '/docs/' %} aria-current="page"{% endif %}>Getting started</h3>
      <ul class="flex flex-col ml-3">
        <li class="flex" {% if page.url == '/docs/#introduction' %} aria-current="page"{% endif %}>
          <a class="py-2 w-full" href="/docs/#introduction">Introduction</a>
        </li>
        <li class="flex" {% if page.url == '/docs/#installation' %} aria-current="page"{% endif %}>
          <a class="py-2 w-full" href="/docs/#installation">Installation</a>
        </li>
        <li class="flex" {% if page.url == '/docs/#usage' %} aria-current="page"{% endif %}>
          <a class="py-2 w-full" href="/docs/#usage">Usage</a>
        </li>
      </ul>
      {% set taglist = ['converters', 'util'] %}
       {%- for tag in taglist -%}
        <h3 class="mt-4 capitalize">{{ tag }}</h3>
        <ul class="flex flex-col ml-3">
          {%- for doc in collections[tag] -%}
          <li class="flex" {% if page.url == doc.url %} aria-current="page"{% endif %} >
            <a class="py-2 w-full" href="{{ doc.url }}">{{ doc.data.title }}</a>
          </li>
          {%- endfor -%}
        </ul>
      {%- endfor -%}
    </nav>
  </header>
</aside>
<script>
  const nav = document.querySelector('nav');
  const button = document.querySelector('button');
  button.addEventListener('click', () => {
    nav.classList.toggle('-translate-x-96');
  });
</script>
